.form-compra{
    color: black;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

.titleForm{
    color: black;
    font-weight: bolder;
    
}

.btnFinish,
.btnCancel{
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    color: white;
    width: 250px;
    padding: 0.5em;
    border-radius: 10px;
    background-color:rgba(30, 144, 255, .9);
    border: rgba(30, 144, 255, .9);
    margin: 1em;
}

.btnFinish:hover,
.btnCancel:hover{
    background-color: dodgerblue;
}