.formConsulta{
    width: 400px;
    margin:0 auto;
}

.App-Regalos{
  /*   background-image: url(https://static.wixstatic.com/media/e1c78c_07ad9730548f41d4b4967ef2bfa5c71d.jpg/v1/fill/w_980,h_662,al_t,q_85,usm_0.66_1.00_0.01,enc_auto/e1c78c_07ad9730548f41d4b4967ef2bfa5c71d.jpg); */
  margin-top: 3em;
} 


@media only screen and (min-width: 376px) and (max-width: 990px) {

    .titOrder{
        width: 400px;
    }

    .table-histories{
        width: 400px;
    }
    
  
  }