.container-compra{
    background-color: white;
    padding: 1em;
    margin-top: 3em;
}

.detail-compra-tit{
    color: black;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.detail-compra{
    color: gray;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.detail-compra-info{
    color: black;
    font-family: 'Poppins', sans-serif;
}


@media only screen and (max-width: 375px) {

    .container-compra{
        margin-top: 3em;
    }

}