.tarjetas {
    margin: 50px;
    display:inline-block;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
 }
.tarjetas:hover{
    box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;

}

.tarjetas:hover .detalleProd {
    display: block; 
}

.tarjeta {
    width: 300px;
    background-color: white;
    padding: 10px;
}

.tarjeta img {
    width: 220px;
    height: 150px; }

.tarjeta-contenido-detalle {
    margin-top: 50px;
    padding: 10px;
    border-top: 2px solid black;
}

.tarjetaTitulo{
    color: darkslategray;
    font-weight: bolder;
    font-size: 18px;
}

.tarjetaPrecio{
    color: darkslategray;
    font-weight: bolder;
    text-align: left;
    font-size: 20px;
}

.tarjetaDetalle{
    width: 100px;
    font-size: 14px;
    background-color: darkslategray;
    color: white;
}

.itemDetalle {
    margin: 50px;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    background-color: white;
    color: black;
 }

.itemPrecio{
    font-weight: bolder;
    text-align: left;
    font-size: 30px;
    
}

.itemCarac{
    text-align: left;
    font-size: 20px;
}

.itemCarac p{
    text-decoration: underline;
}

.itemImg{
    width: 500px;
}

.detalleProd{
    color: #666;
    font-size: 14px;
    font-weight: 300;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 20px;
    display: none;
}