.tarjetas {
    margin: 50px; 
    display:inline-block;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    
 }
.tarjetas:hover{
    box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

.tarjetas:hover .detalleProd {
    display: block; 
}

.tarjeta {
    width: 300px;
    background-color: white;
    padding: 20px;   
}

.tarjeta img {
    width: 220px;
    height: 220px;
}

.tarjeta-contenido{
    text-decoration: none;
}


.tarjeta-contenido-detalle {
    margin-top: 50px;
    padding: 10px;
    border-top: 2px solid black;
}

.tarjetaTitulo{
    color: darkslategray;
    font-weight: bolder;
    font-size: 18px;
}

.tarjetaPrecio{
    color: darkslategray;
    font-weight: bolder;
    text-align: left;
    font-size: 20px;
}

.tarjetaDetalle{
    width: 100px;
    font-size: 14px;
    background-color: darkslategray;
    color: white;
}

//ITEM DETALLE

.itemDetalle {
    width: 90%;
    margin: 10px 70px;
    padding: 100px;
    font-family: 'Roboto', sans-serif;
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
 }

.itemImg{
    margin-right: 50px;
    width: 280px;
}

.itemPrecio{
    font-weight: bolder;
    text-align: left;
    font-size: 30px;  
    margin-top: 30px; 
}

.itemCarac{
    text-align: left;
    font-size: 14px;
}

.detalleProd{
    color: #666;
    font-size: 14px;
    font-weight: 300;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 20px;
}

.cuotas{
    color: green;
    font-size: 14px;
    font-weight: bolder;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 8px;
    text-align: left;
}

.listCategorias{
    text-decoration: none;
    color: white;  
    margin-left: -20px; 
}

.botonVerCarrito,
.botonSeguirCompra{
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    color: white;
    width: 250px;
    padding: 10px;
    border-radius: 10px;
    margin-top: 138px;
    margin-right: 50px;
    background-color:rgba(30, 144, 255, .9);
    border: rgba(30, 144, 255, .9);
}

.botonVerCarrito:hover,
.botonSeguirCompra:hover{
    background-color: dodgerblue;
}

.sinStock{
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    font-weight: bolder;
    margin: 50px;
}

//ORDENES

.order-tit{
    color: darkslategray;
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
    margin-top: 10px;
}

.order-container{
    display: flex;
    align-items: center;
}

.order {
    margin-top: 50px;
    margin-left: -350px;
    width: 500px;
    background-color: white;
    padding: 20px;   
    text-align: left;
    font-family: 'Roboto', sans-serif;
}

.imgProd{
    width: 100px;
    height: 100px;
}

.detalleOrder{
    color: #666;
    font-size: 14px;
    font-weight: 300;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 20px;
}



