.nav-index{
    background-color: rgba(47, 79, 79,.8);
    font-size: 14px;
}

.logoTesys{
    margin-right: 250px;
    margin-left: 50px;  
    width: 200px;
}

.menu-boot{
    color: rgba(255, 255, 255, 0.8);
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    text-decoration: none;
}

.menu-boot:hover{
    color: white;
    border-bottom: 5px solid black;
}

.carritoContainer{
    width: 85px;
    display: flex;
    align-items:center;
    margin: 10px;
    text-decoration: none;
}

.carrito{
    width: 50px;
    margin-right: 10px;
}

// MENU DESPLEGABLE 

ul ul li {
  width: 190px;
  margin-bottom: 5px;
  list-style: none;
}


/* para desplegar sub-menu sin clickear */
ul li:hover ul {
  display:block;
  margin-top: 2px;
  background-color: darkslategray;
} 

.submenu-boot{
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    color: white;
  }


.submenu-boot li a:hover{
  color: gray;  
}

.cantCarrito{
  font-size: 14px;
  color: white;
  border-radius: 50%;
  background-color: black;
  padding: 10px;
  position: relative;
  bottom: 10px;
  right: 20px;
}

.misCompras{
    text-decoration: none;
    color: white;  
}

.misCompras:hover{
  color: gray;  
}