.nav-index{
  background-image: url(https://res.cloudinary.com/dw94zgfgu/image/upload/v1648156906/fondo-de-patr%C3%B3n-textura-m%C3%A1rmol-dorado-blanco-con-dise%C3%B1o-alta-resoluci%C3%B3n-para-papel-tapiz-cart%C3%B3n-o-p%C3%B3ster-folleto-cartelera-189256592_pofn6l.jpg); 
  border-bottom: 1px solid rgba(0, 0, 0, .3); 
}

.logoWedding{
    margin-left: 2em;  
    margin-right: 4em;
    color: black;
    font-family: 'Poppins', sans-serif;
}

.menu-boot{
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    text-decoration: none;
    margin-right: 1em;
    padding: 3px; 
}

.menu-boot:hover{
    color: black;
    background-color: rgba(238, 222, 135, 0.6);
    border-radius: 10px;
}

.cajitaContainer{
    width: 7em;
    display: flex;
    align-items:center;
    margin: 0.5em;
    text-decoration: none;
}

.cajita{
    width: 5em;
}

.icon-calendar{
  font-size: 30px;
}

.info{
  font-size: 14px;
  margin-left: 5px;
}

// MENU DESPLEGABLE 

ul ul li {
  width: 190px;
  margin-bottom: 5px;
  list-style: none;
}


/* para desplegar sub-menu sin clickear */
ul li:hover ul {
  display:block;
  margin-top: 2px;
  background-color: darkslategray;
} 

.submenu-boot{
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    color: black;
  }


.submenu-boot li a:hover{
  color: gray;  
}

.cantCarrito{
  font-size: 1em;
  color: black;
  font-weight: bolder;
  border-radius: 50%;
  background-color: rgba(218, 165, 32, .7);
  padding: 0.6em;
  position: relative;
  bottom: 0.8em;
  right: 1.5em;
}

.misCompras{
    text-decoration: none;
    color: white;  
}

.misCompras:hover{
  color: gray;  
}