.contadorContainer{
    display: flex;
    justify-content:space-evenly;
    margin: 50px 10px;
    align-items: center;
    background-color: darkslategray;
    width: 200px;
    height: 50px;
}

.boton{
    font-size: 20px;
    font-weight: bolder;
}

.boton:hover{
    cursor: pointer;
    color: white;
}

.botonAgregar{
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    color: white;
    width: 250px;
    padding: 10px;
    border-radius: 10px;
    background-color:rgba(30, 144, 255, .9);
    border: rgba(30, 144, 255, .9);
  
}

.botonAgregar:hover{
    background-color: dodgerblue;
}

.contenidoCant{
    display: flex;
    align-items: center;
}